**<font  size=6>函數應用和映射</font>**

<font  size=4>NumPy的ufuncs（元素級陣列方法）也可用於操作pandas物件：</font>

In [1]:
import numpy as np
import pandas as pd

In [2]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah   -0.514801  0.420959 -1.299970
Ohio    0.730218 -1.943832  0.456747
Texas  -0.314175  1.391134 -0.506006
Oregon  0.610913  1.408372  0.478704

In [3]:
np.abs(frame)#np.abs()方法可以返回絕對值

               b         d         e
Utah    0.514801  0.420959  1.299970
Ohio    0.730218  1.943832  0.456747
Texas   0.314175  1.391134  0.506006
Oregon  0.610913  1.408372  0.478704

<font  size=4>另一個常見的操作是，將函數應用到由各列或行所形成的一維數組上。 DataFrame的apply方法即可實現此功能：
</font>

In [4]:
f = lambda x: x.max() - x.min()

In [5]:
frame.apply(f)#注意apply方法傳入的是一個Series

b    1.245019
d    3.352204
e    1.778674
dtype: float64

<font  size=4>這裡的函數f，計算了一個Series的最大值和最小值的差，在frame的每行都執行了一次。 結果是一個Series，使用frame的行作為索引。\
如果傳遞axis='columns' 或 axis=1 到apply，這個函數會在每列執行</font>

In [6]:
frame.apply(f, axis='columns')

Utah      1.720929
Ohio      2.674050
Texas     1.897140
Oregon    0.929667
dtype: float64

<font  size=4>許多最為常見的陣列統計功能都被實現成DataFrame的方法（如sum和mean），因此無需使用apply方法。\
傳遞到apply的函數不是必須返回一個標量，還可以返回由多個值組成的Series：</font>

In [7]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])
frame.apply(f)

            b         d         e
min -0.514801 -1.943832 -1.299970
max  0.730218  1.408372  0.478704

元素級的Python函數也是可以用的。 假如你想得到frame中各個浮點值的格式化字串，使用
applymap即可：

In [8]:
format = lambda x: '%.2f' % x

In [9]:
frame.applymap(format)
#注意applymap方法傳入的是一個值

            b      d      e
Utah    -0.51   0.42  -1.30
Ohio     0.73  -1.94   0.46
Texas   -0.31   1.39  -0.51
Oregon   0.61   1.41   0.48

之所以叫做applymap，是因為Series有一個用於應用元素級函數的map方法：

In [10]:
frame['e'].map(format)

Utah      -1.30
Ohio       0.46
Texas     -0.51
Oregon     0.48
Name: e, dtype: object