In [1]:
import pandas as pd

In [2]:
def make_melt_table(table_path,feature_names):
    #讀取數據
    df2000 = pd.read_excel(table_path,index_col=0).reset_index(drop =True).iloc[:,3:].reset_index(drop =True)
    df2000['日期'] = df2000['股票代號'].str[0:8]
    stock_name_table = pd.DataFrame({'股票代號':df2000.columns[1:-2],'股票名稱':df2000.iloc[0,1:-2]}).reset_index(drop = True)
    df2000 = df2000.iloc[1:,:]
    del df2000['股票代號']
    df2000 = df2000.set_index(['日期']).reset_index(drop = False)
    df2000_melt = pd.melt(df2000, id_vars= '日期', value_vars=list(df2000.columns[1:]))
    df2000_melt = df2000_melt.rename(columns={'variable':'股票代號','value':feature_names})
    df2000_melt = df2000_melt.merge(stock_name_table,on='股票代號')
    return df2000_melt

In [3]:
Volume2000 = make_melt_table("Z:\\07個人\\ChiehLin\\數據\\2000數據\\成交量2000.xlsx",'成交金額(千)')
close_price_2000 = make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\收盤價2000.xlsx','收盤價')
Lowest_price2000 = make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\最低價2000.xlsx','最低價')
Highest_price2000 = make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\最高價2000.xlsx','最高價')
open_price2000 = make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\開盤價2000.xlsx','開盤價')
Financing_used2000 = make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\融資使用率2000.xlsx','融資使用率')
Financing_retent2000 =  make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\融資維持率2000.xlsx','融資維持率')
restored_close_price2000 =  make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\還原收盤2000.xlsx','還原收盤價')

In [4]:
df_melt = Volume2000.set_index('股票名稱').reset_index(drop = False)
df_melt = df_melt.merge(close_price_2000, on= ['日期', '股票代號', '股票名稱'])
df_melt = df_melt.merge(Lowest_price2000, on= ['日期', '股票代號', '股票名稱'])
df_melt = df_melt.merge(Highest_price2000, on= ['日期', '股票代號', '股票名稱'])
df_melt = df_melt.merge(open_price2000, on= ['日期', '股票代號', '股票名稱'])
df_melt = df_melt.merge(Financing_used2000, on= ['日期', '股票代號', '股票名稱'])
df_melt = df_melt.merge(Financing_retent2000, on= ['日期', '股票代號', '股票名稱'])
df_melt = df_melt.merge(restored_close_price2000, on= ['日期', '股票代號', '股票名稱'])

In [5]:
df_melt

,股票名稱,日期,股票代號,成交金額(千),收盤價,最低價,最高價,開盤價,融資使用率,融資維持率,還原收盤價
0,台泥,20140506,1101,279876,46.8,46.65,47.05,46.85,0.36,164.1368,24.58
1,台泥,20140507,1101,687831,46,46,46.65,46.6,0.41,162.0568,24.16
2,台泥,20140508,1101,573230,45.7,45.5,46.2,46.1,0.49,161.901,24
3,台泥,20140509,1101,599689,45.3,44.75,45.7,45.5,0.51,161.0522,23.79
4,台泥,20140512,1101,606761,44.2,44,45,44.9,0.54,158.1334,23.21
...,...,...,...,...,...,...,...,...,...,...,...
3534911,邁達康,20220622,9960,363,26,25.8,26,25.8,13.3,182.8924,26
3534912,邁達康,20220623,9960,0,25.95,25.95,25.95,25.95,13.3,182.5407,25.95
3534913,邁達康,20220624,9960,441,26,25.3,26.05,25.7,13.24,182.9065,26
3534914,邁達康,20220627,9960,338,26.35,25.7,26.35,25.8,13.24,185.3687,26.35
3534915,邁達康,20220628,9960,389,26.3,25.75,26.35,25.75,13.27,185.0667,26.3