**<font  size=6>
使用Excel表格讀取並合併
</font>**

In [14]:
import pandas as pd

In [15]:
def make_melt_table(table_path,feature_names):
    #讀取數據
    df2000 = pd.read_excel(table_path,index_col=0).reset_index(drop =True).iloc[:,3:].reset_index(drop =True)
    df2000['日期'] = df2000['股票代號'].str[0:8]
    stock_name_table = pd.DataFrame({'股票代號':df2000.columns[1:-2],'股票名稱':df2000.iloc[0,1:-2]}).reset_index(drop = True)
    df2000 = df2000.iloc[1:,:]
    del df2000['股票代號']
    df2000 = df2000.set_index(['日期']).reset_index(drop = False)
    df2000_melt = pd.melt(df2000, id_vars= '日期', value_vars=list(df2000.columns[1:]))
    df2000_melt = df2000_melt.rename(columns={'variable':'股票代號','value':feature_names})
    df2000_melt = df2000_melt.merge(stock_name_table,on='股票代號')
    return df2000_melt

In [16]:
Volume2000 = make_melt_table("Z:\\07個人\\ChiehLin\\數據\\2000數據\\成交量2000.xlsx",'成交金額(千)')
close_price_2000 = make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\收盤價2000.xlsx','收盤價')
Lowest_price2000 = make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\最低價2000.xlsx','最低價')
Highest_price2000 = make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\最高價2000.xlsx','最高價')
open_price2000 = make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\開盤價2000.xlsx','開盤價')
Financing_used2000 = make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\融資使用率2000.xlsx','融資使用率')
Financing_retent2000 =  make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\融資維持率2000.xlsx','融資維持率')
restored_close_price2000 =  make_melt_table('Z:\\07個人\\ChiehLin\\數據\\2000數據\\還原收盤2000.xlsx','還原收盤價')

In [17]:
df_melt = Volume2000.set_index('股票名稱').reset_index(drop = False)
df_melt = df_melt.merge(close_price_2000, on= ['日期', '股票代號', '股票名稱'])
df_melt = df_melt.merge(Lowest_price2000, on= ['日期', '股票代號', '股票名稱'])
df_melt = df_melt.merge(Highest_price2000, on= ['日期', '股票代號', '股票名稱'])
df_melt = df_melt.merge(open_price2000, on= ['日期', '股票代號', '股票名稱'])
df_melt = df_melt.merge(Financing_used2000, on= ['日期', '股票代號', '股票名稱'])
df_melt = df_melt.merge(Financing_retent2000, on= ['日期', '股票代號', '股票名稱'])
df_melt = df_melt.merge(restored_close_price2000, on= ['日期', '股票代號', '股票名稱'])

In [18]:
df_melt

,股票名稱,日期,股票代號,成交金額(千),收盤價,最低價,最高價,開盤價,融資使用率,融資維持率,還原收盤價
0,台泥,20140506,1101,279876,46.8,46.65,47.05,46.85,0.36,164.1368,24.58
1,台泥,20140507,1101,687831,46,46,46.65,46.6,0.41,162.0568,24.16
2,台泥,20140508,1101,573230,45.7,45.5,46.2,46.1,0.49,161.901,24
3,台泥,20140509,1101,599689,45.3,44.75,45.7,45.5,0.51,161.0522,23.79
4,台泥,20140512,1101,606761,44.2,44,45,44.9,0.54,158.1334,23.21
...,...,...,...,...,...,...,...,...,...,...,...
3534911,邁達康,20220622,9960,363,26,25.8,26,25.8,13.3,182.8924,26
3534912,邁達康,20220623,9960,0,25.95,25.95,25.95,25.95,13.3,182.5407,25.95
3534913,邁達康,20220624,9960,441,26,25.3,26.05,25.7,13.24,182.9065,26
3534914,邁達康,20220627,9960,338,26.35,25.7,26.35,25.8,13.24,185.3687,26.35
3534915,邁達康,20220628,9960,389,26.3,25.75,26.35,25.75,13.27,185.0667,26.3

**<font  size=6>
建議使用:不須導出Excel表格，直接讀取Cmoney mysql數據庫數據到python內存方法介紹  
ps.節省寫出與讀取excel檔時間可以下樓抽菸
</font>**

**<font  size=5 color = "red">注意:要先在python運行環境中安裝pyodbc包，方法與安裝pandas等包相同。</font>**

以讀取20140506以後的2330台積電的為例

In [28]:
import pyodbc
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

連結到Cmoney數據庫

In [3]:
DB_Host = "192.168.1.16"
DB_Name = "X01"
DB_User = "cm23357868"#以我的帳號為例，請填入您個人帳號
DB_Password = "86875332"#以我的密碼為例，請填入您個人密碼

print("Connecting to database using pyodbc...")

db = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server}; SERVER=' + DB_Host + '; DATABASE=' + DB_Name + '; UID=' + DB_User + '; PWD=' + DB_Password)

print("Succesfully Connected to database using pyodbc!")

cursor = db.cursor()

Connecting to database using pyodbc...
Succesfully Connected to database using pyodbc!

找到融資使用率與融資維持率的表格路徑為[X01].[dbo].[日融資券排行]

In [4]:
query = """SELECT  [日期]
      ,[股票代號]
      ,[股票名稱]
      ,[資使用率]
      ,[融資維持率(%)]
  FROM [X01].[dbo].[日融資券排行] WITH(NOLOCK) where 股票代號 = '2330' And 日期 >= 20140506 order by 日期 """  

#FROM後填入表格路徑  WHERE指令可以選定只讀取部分數據的條件 order by 可按照特定行排序 若要使用降序 可以寫成 order by 日期 desc
#延伸閱讀可Google "Sql語法" ，也可以問我

df_Financing = pd.read_sql(query, db)

In [5]:
df_Financing

            日期  股票代號 股票名稱  資使用率    融資維持率(%)
0     20140506  2330  台積電  0.29  167.236099
1     20140507  2330  台積電  0.28  167.917099
2     20140508  2330  台積電  0.28  169.171997
3     20140509  2330  台積電  0.28  169.747406
4     20140512  2330  台積電  0.28  167.574493
...        ...   ...  ...   ...         ...
2009  20220718  2330  台積電  0.45  161.492401
2010  20220719  2330  台積電  0.44  160.136002
2011  20220720  2330  台積電  0.44  161.610992
2012  20220721  2330  台積電  0.44  163.639206
2013  20220722  2330  台積電  0.42  164.319794

[2014 rows x 5 columns]

**<font  size=4>可以導入多個數據集，再使用上述pd.merge方法合併</font>**

In [6]:
query = """SELECT [日期]
      ,[股票代號]
      ,[股票名稱]
      ,[開盤價]
      ,[最高價]
      ,[最低價]
      ,[收盤價]
      ,[成交金額(千)]
  FROM [X01].[dbo].[日收盤表排行] WITH(NOLOCK) where 股票代號 = '2330' And 日期 >= 20140506 order by 日期 """  

#FROM後填入表格路徑  
# WHERE指令可以選定只讀取部分數據的條件 order by 可按照特定行排序 若要使用降序 可以寫成 order by 日期 desc
#延伸閱讀可Google "Sql語法" ，也可以問我

df_price = pd.read_sql(query, db)

In [7]:
df_price

            日期  股票代號 股票名稱    開盤價    最高價    最低價    收盤價   成交金額(千)
0     20140506  2330  台積電  117.0  119.0  116.5  118.0   3247100
1     20140507  2330  台積電  118.0  119.0  117.5  118.5   3931217
2     20140508  2330  台積電  119.5  120.0  119.0  119.5   3594265
3     20140509  2330  台積電  120.0  120.0  119.0  120.0   2785145
4     20140512  2330  台積電  119.5  120.0  117.5  118.5   4390300
...        ...   ...  ...    ...    ...    ...    ...       ...
2010  20220719  2330  台積電  487.5  493.0  486.5  491.0  10063256
2011  20220720  2330  台積電  502.0  503.0  491.5  495.0  18330197
2012  20220721  2330  台積電  496.0  501.0  494.0  501.0  11887266
2013  20220722  2330  台積電  505.0  505.0  500.0  503.0  13525084
2014  20220725  2330  台積電  500.0  503.0  498.0  499.5   7767573

[2015 rows x 8 columns]

In [8]:
query = """SELECT [日期]
      ,[股票代號]
      ,[股票名稱]
      ,[還原收盤價]
  FROM [X01].[dbo].[日報酬率比較表] WITH(NOLOCK) where 股票代號 = '2330' And 日期 >= 20140506 order by 日期 """  

df_res_price = pd.read_sql(query, db)

In [9]:
df_from_sql = df_price.merge(df_Financing, on= ['日期', '股票代號', '股票名稱'])
df_from_sql = df_from_sql.merge(df_res_price, on= ['日期', '股票代號', '股票名稱'])

In [10]:
df_from_sql
#效果一樣但不用寫出與讀取Excel

,日期,股票代號,股票名稱,開盤價,最高價,最低價,收盤價,成交金額(千),資使用率,融資維持率(%),還原收盤價
0,20140506,2330,台積電,117.0,119.0,116.5,118.0,3247100,0.29,167.236099,90.64
1,20140507,2330,台積電,118.0,119.0,117.5,118.5,3931217,0.28,167.917099,91.02
2,20140508,2330,台積電,119.5,120.0,119.0,119.5,3594265,0.28,169.171997,91.79
3,20140509,2330,台積電,120.0,120.0,119.0,120.0,2785145,0.28,169.747406,92.17
4,20140512,2330,台積電,119.5,120.0,117.5,118.5,4390300,0.28,167.574493,91.02
...,...,...,...,...,...,...,...,...,...,...,...
2009,20220718,2330,台積電,495.5,498.5,488.5,495.5,20142703,0.45,161.492401,495.50
2010,20220719,2330,台積電,487.5,493.0,486.5,491.0,10063256,0.44,160.136002,491.00
2011,20220720,2330,台積電,502.0,503.0,491.5,495.0,18330197,0.44,161.610992,495.00
2012,20220721,2330,台積電,496.0,501.0,494.0,501.0,11887266,0.44,163.639206,501.00
2013,20220722,2330,台積電,505.0,505.0,500.0,503.0,13525084,0.42,164.319794,503.00

**<font  size=4>把字符串轉換成日期</font>**

In [11]:
df_from_sql['日期'] = pd.to_datetime(df_from_sql['日期'],format = "%Y%m%d")

In [12]:
type(df_from_sql['日期'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [13]:
#延伸操作，熟練pd.to_datetime 與 datetime包格式的轉換，我們可以再討論
df_from_sql['日期'][0]

Timestamp('2014-05-06 00:00:00')

In [14]:
#可以直接加減
df_from_sql['日期'][0]-df_from_sql['日期'][100]

Timedelta('-143 days +00:00:00')

In [15]:
#可以使用字符串做邏輯判斷
df_from_sql[df_from_sql['日期'] == '2014-05-06']

,日期,股票代號,股票名稱,開盤價,最高價,最低價,收盤價,成交金額(千),資使用率,融資維持率(%),還原收盤價
0,2014-05-06,2330,台積電,117.0,119.0,116.5,118.0,3247100,0.29,167.236099,90.64

**<font  size=4>將日期設為index</font>**

In [16]:
df_from_sql = df_from_sql.set_index('日期')

In [17]:
df_from_sql

,股票代號,股票名稱,開盤價,最高價,最低價,收盤價,成交金額(千),資使用率,融資維持率(%),還原收盤價
日期,,,,,,,,,,
2014-05-06,2330,台積電,117.0,119.0,116.5,118.0,3247100,0.29,167.236099,90.64
2014-05-07,2330,台積電,118.0,119.0,117.5,118.5,3931217,0.28,167.917099,91.02
2014-05-08,2330,台積電,119.5,120.0,119.0,119.5,3594265,0.28,169.171997,91.79
2014-05-09,2330,台積電,120.0,120.0,119.0,120.0,2785145,0.28,169.747406,92.17
2014-05-12,2330,台積電,119.5,120.0,117.5,118.5,4390300,0.28,167.574493,91.02
...,...,...,...,...,...,...,...,...,...,...
2022-07-18,2330,台積電,495.5,498.5,488.5,495.5,20142703,0.45,161.492401,495.50
2022-07-19,2330,台積電,487.5,493.0,486.5,491.0,10063256,0.44,160.136002,491.00
2022-07-20,2330,台積電,502.0,503.0,491.5,495.0,18330197,0.44,161.610992,495.00
2022-07-21,2330,台積電,496.0,501.0,494.0,501.0,11887266,0.44,163.639206,501.00
2022-07-22,2330,台積電,505.0,505.0,500.0,503.0,13525084,0.42,164.319794,503.00

**<font  size=4>生成字典,以日期為keys</font>**

In [43]:
dict_data = dict(zip(df_from_sql.index,np.array(df_from_sql)))

In [45]:
dict_data

{Timestamp('2014-05-06 00:00:00'): array(['2330', '台積電', 117.0, 119.0, 116.5, 118.0, 3247100,
        0.28999999165534973, 167.23609924316406, 90.64], dtype=object),
 Timestamp('2014-05-07 00:00:00'): array(['2330', '台積電', 118.0, 119.0, 117.5, 118.5, 3931217,
        0.2800000011920929, 167.91709899902344, 91.02], dtype=object),
 Timestamp('2014-05-08 00:00:00'): array(['2330', '台積電', 119.5, 120.0, 119.0, 119.5, 3594265,
        0.2800000011920929, 169.1719970703125, 91.79], dtype=object),
 Timestamp('2014-05-09 00:00:00'): array(['2330', '台積電', 120.0, 120.0, 119.0, 120.0, 2785145,
        0.2800000011920929, 169.74740600585938, 92.17], dtype=object),
 Timestamp('2014-05-12 00:00:00'): array(['2330', '台積電', 119.5, 120.0, 117.5, 118.5, 4390300,
        0.2800000011920929, 167.57449340820312, 91.02], dtype=object),
 Timestamp('2014-05-13 00:00:00'): array(['2330', '台積電', 120.0, 121.0, 119.5, 120.5, 2894574, 0.25,
        170.2991943359375, 92.56], dtype=object),
 Timestamp('2014-05-14 00:00:00'): array(['2330', '台積電', 121.0, 122.0, 120.5, 122.0, 3991163,
        0.23000000417232513, 172.22579956054688, 93.71], dtype=object),
 Timestamp('2014-05-15 00:00:00'): array(['2330', '台積電', 121.0, 122.0, 120.5, 122.0, 2040805,
        0.23000000417232513, 172.052001953125, 93.71], dtype=object),
 Timestamp('2014-05-16 00:00:00'): array(['2330', '台積電', 122.0, 123.0, 121.0, 122.0, 3497689,
        0.20999999344348907, 171.9459991455078, 93.71], dtype=object),
 Timestamp('2014-05-19 00:00:00'): array(['2330', '台積電', 122.0, 122.5, 121.0, 121.0, 2524459,
        0.2199999988079071, 170.35130310058594, 92.94], dtype=object),
 Timestamp('2014-05-20 00:00:00'): array(['2330', '台積電', 122.0, 122.0, 121.0, 121.0, 3088614,
        0.2199999988079071, 170.22109985351562, 92.94], dtype=object),
 Timestamp('2014-05-21 00:00:00'): array(['2330', '台積電', 122.0, 122.0, 120.5, 120.5, 2935443,
        0.2199999988079071, 169.40390014648438, 92.56], dtype=object),
 Timestamp('2014-05-22 00:00:00'): array(['2330', '台積電', 121.5, 122.0, 121.0, 122.0, 3198769,
        0.23000000417232513, 171.2021942138672, 93.71], dtype=object),
 Timestamp('2014-05-23 00:00:00'): array(['2330', '台積電', 121.0, 122.5, 121.0, 122.0, 3866486,
        0.23999999463558197, 170.8739013671875, 93.71], dtype=object),
 Timestamp('2014-05-26 00:00:00'): array(['2330', '台積電', 123.0, 123.5, 122.0, 123.0, 2439784,
        0.23999999463558197, 171.97279357910156, 94.48], dtype=object),
 Timestamp('2014-05-27 00:00:00'): array(['2330', '台積電', 122.5, 124.0, 122.5, 123.5, 2259937,
        0.23000000417232513, 172.6425018310547, 94.86], dtype=object),
 Timestamp('2014-05-28 00:00:00'): array(['2330', '台積電', 124.0, 124.0, 122.5, 124.0, 4658743,
        0.2199999988079071, 173.1602020263672, 95.25], dtype=object),
 Timestamp('2014-05-29 00:00:00'): array(['2330', '台積電', 123.5, 124.0, 121.5, 122.0, 5267063,
        0.2199999988079071, 170.16639709472656, 93.71], dtype=object),
 Timestamp('2014-05-30 00:00:00'): array(['2330', '台積電', 122.0, 122.5, 119.5, 119.5, 8318164, 0.25,
        166.67799377441406, 91.79], dtype=object),
 Timestamp('2014-06-03 00:00:00'): array(['2330', '台積電', 120.0, 122.5, 120.0, 122.5, 4915126,
        0.23999999463558197, 170.8043975830078, 94.09], dtype=object),
 Timestamp('2014-06-04 00:00:00'): array(['2330', '台積電', 123.5, 124.0, 123.0, 123.5, 4136552,
        0.23000000417232513, 172.12579345703125, 94.86], dtype=object),
 Timestamp('2014-06-05 00:00:00'): array(['2330', '台積電', 123.0, 123.5, 121.5, 123.0, 2397330,
        0.23000000417232513, 171.3502960205078, 94.48], dtype=object),
 Timestamp('2014-06-06 00:00:00'): array(['2330', '台積電', 123.5, 123.5, 122.0, 122.5, 2364597,
        0.23000000417232513, 170.5543975830078, 94.09], dtype=object),
 Timestamp('2014-06-09 00:00:00'): array(['2330', '台積電', 122.5, 123.5, 122.5, 123.0, 2424540,
        0.2199999988079071, 171.1446990966797, 94.48], dtype=object),
 Timestamp('2014-06-10 00:00:00'): array(['2330', '台積電', 123.0, 124.5, 122.5, 124.5, 3298134,
        0.2199999988079071, 173.18820190429688, 95.63], dtype=object),
 Timestamp('2014-06-11 00:00:00'): array(['2330', '台積電', 124.0, 125.0, 123.5, 125.0, 3479529,
        0.20999999344348907, 173.83639526367188, 96.01], dtype=object),
 Timestamp('2014-06-12 00:00:00'): array(['2330', '台積電', 124.0, 124.0, 123.0, 123.5, 2755883,
        0.20999999344348907, 171.66299438476562, 94.86], dtype=object),
 Timestamp('2014-06-13 00:00:00'): array(['2330', '台積電', 123.0, 123.5, 122.5, 123.0, 2117624,
        0.20999999344348907, 170.8831024169922, 94.48], dtype=object),
 Timestamp('2014-06-16 00:00:00'): array(['2330', '台積電', 122.5, 124.0, 122.5, 124.0, 1691353,
        0.20000000298023224, 172.1645050048828, 95.25], dtype=object),
 Timestamp('2014-06-17 00:00:00'): array(['2330', '台積電', 124.0, 125.0, 123.0, 125.0, 2557855,
        0.20000000298023224, 173.49769592285156, 96.01], dtype=object),
 Timestamp('2014-06-18 00:00:00'): array(['2330', '台積電', 125.0, 126.5, 124.0, 125.5, 4778941,
        0.1899999976158142, 174.05560302734375, 96.4], dtype=object),
 Timestamp('2014-06-19 00:00:00'): array(['2330', '台積電', 124.5, 126.0, 124.5, 126.0, 3163387,
        0.1899999976158142, 174.4871063232422, 96.78], dtype=object),
 Timestamp('2014-06-20 00:00:00'): array(['2330', '台積電', 126.5, 127.0, 124.0, 124.5, 3951298,
        0.1899999976158142, 172.09970092773438, 95.63], dtype=object),
 Timestamp('2014-06-23 00:00:00'): array(['2330', '台積電', 125.0, 125.5, 123.0, 123.0, 3108563,
        0.20999999344348907, 169.60609436035156, 94.48], dtype=object),
 Timestamp('2014-06-24 00:00:00'): array(['2330', '台積電', 123.0, 123.5, 122.0, 123.0, 4451530,
        0.23999999463558197, 169.29600524902344, 94.48], dtype=object),
 Timestamp('2014-06-25 00:00:00'): array(['2330', '台積電', 123.0, 124.5, 123.0, 123.5, 3835858,
        0.23000000417232513, 169.7926025390625, 94.86], dtype=object),
 Timestamp('2014-06-26 00:00:00'): array(['2330', '台積電', 124.5, 125.0, 123.5, 124.5, 4216436,
        0.23000000417232513, 171.05169677734375, 95.63], dtype=object),
 Timestamp('2014-06-27 00:00:00'): array(['2330', '台積電', 125.0, 126.5, 124.0, 125.5, 5576193,
        0.20999999344348907, 172.29649353027344, 96.4], dtype=object),
 Timestamp('2014-06-30 00:00:00'): array(['2330', '台積電', 126.0, 127.0, 125.0, 126.5, 4827285,
        0.20999999344348907, 173.30780029296875, 97.17], dtype=object),
 Timestamp('2014-07-01 00:00:00'): array(['2330', '台積電', 126.5, 128.5, 126.0, 128.0, 4220113,
        0.20000000298023224, 175.09140014648438, 98.32], dtype=object),
 Timestamp('2014-07-02 00:00:00'): array(['2330', '台積電', 129.5, 132.5, 129.0, 132.5, 6784672,
        0.20000000298023224, 179.94020080566406, 101.77], dtype=object),
 Timestamp('2014-07-03 00:00:00'): array(['2330', '台積電', 131.5, 135.0, 130.5, 134.5, 5481357,
        0.20999999344348907, 180.69810485839844, 103.31], dtype=object),
 Timestamp('2014-07-04 00:00:00'): array(['2330', '台積電', 133.5, 136.0, 132.0, 135.0, 5982543,
        0.20999999344348907, 180.6230010986328, 103.69], dtype=object),
 Timestamp('2014-07-07 00:00:00'): array(['2330', '台積電', 134.5, 136.0, 132.5, 136.0, 4359168,
        0.20000000298023224, 181.535400390625, 104.46], dtype=object),
 Timestamp('2014-07-08 00:00:00'): array(['2330', '台積電', 135.5, 136.0, 134.0, 134.5, 4898844,
        0.20999999344348907, 178.80690002441406, 103.31], dtype=object),
 Timestamp('2014-07-09 00:00:00'): array(['2330', '台積電', 133.5, 135.0, 133.5, 134.0, 5286821,
        0.20000000298023224, 178.14219665527344, 102.93], dtype=object),
 Timestamp('2014-07-10 00:00:00'): array(['2330', '台積電', 134.5, 136.0, 134.5, 134.5, 6904690,
        0.20000000298023224, 178.80690002441406, 103.31], dtype=object),
 Timestamp('2014-07-11 00:00:00'): array(['2330', '台積電', 136.0, 138.0, 135.5, 136.5, 5946107,
        0.17000000178813934, 181.46580505371094, 104.85], dtype=object),
 Timestamp('2014-07-14 00:00:00'): array(['2330', '台積電', 134.5, 134.5, 132.5, 132.5, 6256724,
        0.2199999988079071, 173.77659606933594, 104.06], dtype=object),
 Timestamp('2014-07-15 00:00:00'): array(['2330', '台積電', 133.0, 134.0, 132.5, 133.0, 5061898,
        0.23000000417232513, 173.79519653320312, 104.45], dtype=object),
 Timestamp('2014-07-16 00:00:00'): array(['2330', '台積電', 133.0, 133.5, 130.0, 130.5, 5539818, 0.25,
        170.10450744628906, 102.49], dtype=object),
 Timestamp('2014-07-17 00:00:00'): array(['2330', '台積電', 125.0, 125.5, 123.0, 124.5, 17243062,
        0.3400000035762787, 163.7299041748047, 97.78], dtype=object),
 Timestamp('2014-07-18 00:00:00'): array(['2330', '台積電', 121.5, 124.0, 121.5, 123.5, 11985660,
        0.3700000047683716, 162.90609741210938, 96.99], dtype=object),
 Timestamp('2014-07-21 00:00:00'): array(['2330', '台積電', 124.0, 124.5, 122.5, 123.5, 7298293,
        0.3799999952316284, 163.19720458984375, 96.99], dtype=object),
 Timestamp('2014-07-22 00:00:00'): array(['2330', '台積電', 123.5, 125.0, 122.5, 124.5, 6611630,
        0.38999998569488525, 164.6501007080078, 97.78], dtype=object),
 Timestamp('2014-07-24 00:00:00'): array(['2330', '台積電', 124.5, 125.0, 124.0, 125.0, 8233199,
        0.4099999964237213, 165.4384002685547, 98.17], dtype=object),
 Timestamp('2014-07-25 00:00:00'): array(['2330', '台積電', 124.5, 125.0, 122.5, 123.0, 3901955,
        0.41999998688697815, 163.01539611816406, 96.6], dtype=object),
 Timestamp('2014-07-28 00:00:00'): array(['2330', '台積電', 122.0, 122.5, 121.0, 121.5, 5296515,
        0.4300000071525574, 161.3488006591797, 95.42], dtype=object),
 Timestamp('2014-07-29 00:00:00'): array(['2330', '台積電', 122.5, 124.0, 122.0, 124.0, 5009948,
        0.4000000059604645, 164.7397003173828, 97.39], dtype=object),
 Timestamp('2014-07-30 00:00:00'): array(['2330', '台積電', 123.5, 125.0, 123.0, 124.5, 4031743,
        0.38999998569488525, 165.43209838867188, 97.78], dtype=object),
 Timestamp('2014-07-31 00:00:00'): array(['2330', '台積電', 124.0, 124.0, 121.0, 121.0, 5461571,
        0.4300000071525574, 161.27040100097656, 95.03], dtype=object),
 Timestamp('2014-08-01 00:00:00'): array(['2330', '台積電', 120.0, 121.0, 119.5, 120.0, 7431853,
        0.4399999976158142, 160.3052978515625, 94.24], dtype=object),
 Timestamp('2014-08-04 00:00:00'): array(['2330', '台積電', 120.0, 123.5, 120.0, 123.5, 4849122,
        0.4300000071525574, 165.02760314941406, 96.99], dtype=object),
 Timestamp('2014-08-05 00:00:00'): array(['2330', '台積電', 122.5, 122.5, 119.5, 119.5, 7427621,
        0.4699999988079071, 160.39019775390625, 93.85], dtype=object),
 Timestamp('2014-08-06 00:00:00'): array(['2330', '台積電', 119.0, 121.5, 119.0, 120.5, 4574500,
        0.46000000834465027, 161.872802734375, 94.64], dtype=object),
 Timestamp('2014-08-07 00:00:00'): array(['2330', '台積電', 120.5, 121.5, 119.5, 121.5, 3630553,
        0.44999998807907104, 163.2700958251953, 95.42], dtype=object),
 Timestamp('2014-08-08 00:00:00'): array(['2330', '台積電', 120.5, 121.0, 119.5, 120.5, 4226147,
        0.46000000834465027, 162.1649932861328, 94.64], dtype=object),
 Timestamp('2014-08-11 00:00:00'): array(['2330', '台積電', 120.0, 121.0, 119.5, 120.5, 5176984,
        0.49000000953674316, 162.43679809570312, 94.64], dtype=object),
 Timestamp('2014-08-12 00:00:00'): array(['2330', '台積電', 121.0, 122.0, 120.5, 121.5, 3916888,
        0.47999998927116394, 163.85130310058594, 95.42], dtype=object),
 Timestamp('2014-08-13 00:00:00'): array(['2330', '台積電', 121.0, 123.5, 120.5, 122.5, 4865693, 0.5,
        165.3466033935547, 96.21], dtype=object),
 Timestamp('2014-08-14 00:00:00'): array(['2330', '台積電', 123.5, 124.0, 123.0, 124.0, 4076947,
        0.49000000953674316, 167.34959411621094, 97.39], dtype=object),
 Timestamp('2014-08-15 00:00:00'): array(['2330', '台積電', 124.5, 125.0, 123.0, 124.0, 2379578,
        0.4699999988079071, 167.3354034423828, 97.39], dtype=object),
 Timestamp('2014-08-18 00:00:00'): array(['2330', '台積電', 124.0, 124.0, 122.5, 123.0, 1822156,
        0.4699999988079071, 165.9971923828125, 96.6], dtype=object),
 Timestamp('2014-08-19 00:00:00'): array(['2330', '台積電', 124.0, 125.0, 123.5, 124.0, 3971299,
        0.46000000834465027, 167.32960510253906, 97.39], dtype=object),
 Timestamp('2014-08-20 00:00:00'): array(['2330', '台積電', 125.0, 125.5, 124.5, 125.5, 3630457,
        0.4399999976158142, 169.26449584960938, 98.56], dtype=object),
 Timestamp('2014-08-21 00:00:00'): array(['2330', '台積電', 126.0, 126.0, 124.0, 124.5, 2874689,
        0.4399999976158142, 167.87289428710938, 97.78], dtype=object),
 Timestamp('2014-08-22 00:00:00'): array(['2330', '台積電', 124.5, 126.0, 123.5, 125.5, 5361135,
        0.4300000071525574, 169.15130615234375, 98.56], dtype=object),
 Timestamp('2014-08-25 00:00:00'): array(['2330', '台積電', 125.5, 126.0, 125.0, 125.0, 2644468,
        0.44999998807907104, 168.39190673828125, 98.17], dtype=object),
 Timestamp('2014-08-26 00:00:00'): array(['2330', '台積電', 125.0, 125.5, 124.0, 124.5, 3799853,
        0.4399999976158142, 167.7071075439453, 97.78], dtype=object),
 Timestamp('2014-08-27 00:00:00'): array(['2330', '台積電', 125.5, 126.0, 124.5, 125.5, 4624364,
        0.44999998807907104, 168.9093017578125, 98.56], dtype=object),
 Timestamp('2014-08-28 00:00:00'): array(['2330', '台積電', 126.0, 126.0, 124.5, 125.0, 2719379,
        0.4399999976158142, 168.19140625, 98.17], dtype=object),
 Timestamp('2014-08-29 00:00:00'): array(['2330', '台積電', 124.5, 125.0, 124.0, 124.0, 3524841,
        0.44999998807907104, 166.84100341796875, 97.39], dtype=object),
 Timestamp('2014-09-01 00:00:00'): array(['2330', '台積電', 125.0, 128.5, 125.0, 128.5, 4781101,
        0.41999998688697815, 172.6237030029297, 100.92], dtype=object),
 Timestamp('2014-09-02 00:00:00'): array(['2330', '台積電', 128.0, 128.0, 125.5, 126.0, 2537914,
        0.41999998688697815, 169.17359924316406, 98.96], dtype=object),
 Timestamp('2014-09-03 00:00:00'): array(['2330', '台積電', 127.0, 128.0, 125.5, 128.0, 3130801,
        0.41999998688697815, 171.73550415039062, 100.53], dtype=object),
 Timestamp('2014-09-04 00:00:00'): array(['2330', '台積電', 128.0, 128.0, 126.0, 127.5, 2807139,
        0.41999998688697815, 170.96929931640625, 100.13], dtype=object),
 Timestamp('2014-09-05 00:00:00'): array(['2330', '台積電', 128.5, 128.5, 125.5, 127.0, 2547459,
        0.4300000071525574, 170.16409301757812, 99.74], dtype=object),
 Timestamp('2014-09-09 00:00:00'): array(['2330', '台積電', 127.5, 127.5, 126.5, 127.0, 3094467,
        0.4300000071525574, 170.05169677734375, 99.74], dtype=object),
 Timestamp('2014-09-10 00:00:00'): array(['2330', '台積電', 126.0, 126.0, 124.0, 125.0, 3704045,
        0.46000000834465027, 167.31700134277344, 98.17], dtype=object),
 Timestamp('2014-09-11 00:00:00'): array(['2330', '台積電', 126.0, 126.0, 125.0, 125.0, 3053094,
        0.4399999976158142, 167.3074951171875, 98.17], dtype=object),
 Timestamp('2014-09-12 00:00:00'): array(['2330', '台積電', 124.5, 125.0, 123.0, 123.0, 2511970,
        0.44999998807907104, 164.69940185546875, 96.6], dtype=object),
 Timestamp('2014-09-15 00:00:00'): array(['2330', '台積電', 122.5, 123.5, 122.0, 123.5, 2412393,
        0.44999998807907104, 165.39520263671875, 96.99], dtype=object),
 Timestamp('2014-09-16 00:00:00'): array(['2330', '台積電', 123.0, 123.0, 122.0, 122.5, 2362531,
        0.46000000834465027, 164.1304931640625, 96.21], dtype=object),
 Timestamp('2014-09-17 00:00:00'): array(['2330', '台積電', 123.5, 125.0, 123.0, 124.5, 2981376,
        0.46000000834465027, 166.80499267578125, 97.78], dtype=object),
 Timestamp('2014-09-18 00:00:00'): array(['2330', '台積電', 124.5, 125.0, 123.5, 125.0, 1842073,
        0.46000000834465027, 167.47109985351562, 98.17], dtype=object),
 Timestamp('2014-09-19 00:00:00'): array(['2330', '台積電', 125.5, 126.0, 125.0, 125.0, 3855839,
        0.44999998807907104, 167.45849609375, 98.17], dtype=object),
 Timestamp('2014-09-22 00:00:00'): array(['2330', '台積電', 124.0, 124.0, 122.0, 122.0, 4980563,
        0.49000000953674316, 163.68179321289062, 95.82], dtype=object),
 Timestamp('2014-09-23 00:00:00'): array(['2330', '台積電', 123.0, 123.5, 122.0, 122.5, 1988555,
        0.49000000953674316, 164.3820037841797, 96.21], dtype=object),
 Timestamp('2014-09-24 00:00:00'): array(['2330', '台積電', 122.0, 124.0, 122.0, 123.0, 3506255,
        0.47999998927116394, 165.06739807128906, 96.6], dtype=object),
 Timestamp('2014-09-25 00:00:00'): array(['2330', '台積電', 123.0, 124.0, 121.5, 122.0, 2918138,
        0.47999998927116394, 163.7834930419922, 95.82], dtype=object),
 Timestamp('2014-09-26 00:00:00'): array(['2330', '台積電', 121.0, 121.5, 120.5, 121.0, 3076870,
        0.47999998927116394, 162.55850219726562, 95.03], dtype=object),
 Timestamp('2014-09-29 00:00:00'): array(['2330', '台積電', 122.0, 122.0, 120.0, 120.5, 6646680, 0.5,
        162.1278076171875, 94.64], dtype=object),
 Timestamp('2014-09-30 00:00:00'): array(['2330', '台積電', 120.0, 121.0, 119.0, 120.0, 6244964,
        0.5099999904632568, 161.66729736328125, 94.24], dtype=object),
 Timestamp('2014-10-01 00:00:00'): array(['2330', '台積電', 120.0, 122.0, 120.0, 121.5, 5158094,
        0.5099999904632568, 163.7698974609375, 95.42], dtype=object),
 Timestamp('2014-10-02 00:00:00'): array(['2330', '台積電', 121.0, 122.5, 120.5, 121.0, 3731057,
        0.5099999904632568, 163.16929626464844, 95.03], dtype=object),
 Timestamp('2014-10-03 00:00:00'): array(['2330', '台積電', 122.5, 125.0, 122.0, 124.5, 6451706,
        0.47999998927116394, 167.84109497070312, 97.78], dtype=object),
 Timestamp('2014-10-06 00:00:00'): array(['2330', '台積電', 125.0, 126.0, 124.0, 126.0, 4917395,
        0.46000000834465027, 169.81649780273438, 98.96], dtype=object),
 Timestamp('2014-10-07 00:00:00'): array(['2330', '台積電', 125.0, 125.5, 123.5, 125.0, 5008512,
        0.4699999988079071, 168.4243927001953, 98.17], dtype=object),
 Timestamp('2014-10-08 00:00:00'): array(['2330', '台積電', 123.5, 125.0, 122.5, 122.5, 3822790,
        0.4699999988079071, 165.10069274902344, 96.21], dtype=object),
 Timestamp('2014-10-09 00:00:00'): array(['2330', '台積電', 124.0, 125.0, 123.5, 125.0, 4618116,
        0.44999998807907104, 168.44580078125, 98.17], dtype=object),
 Timestamp('2014-10-13 00:00:00'): array(['2330', '台積電', 119.0, 121.5, 118.0, 120.5, 9387511,
        0.44999998807907104, 162.6387939453125, 94.64], dtype=object),
 Timestamp('2014-10-14 00:00:00'): array(['2330', '台積電', 120.0, 121.5, 119.5, 121.0, 3860053,
        0.46000000834465027, 163.39830017089844, 95.03], dtype=object),
 Timestamp('2014-10-15 00:00:00'): array(['2330', '台積電', 121.5, 123.0, 121.0, 121.5, 6152446,
        0.44999998807907104, 164.1248016357422, 95.42], dtype=object),
 Timestamp('2014-10-16 00:00:00'): array(['2330', '台積電', 121.5, 124.0, 120.0, 121.5, 5646853,
        0.4399999976158142, 164.2310028076172, 95.42], dtype=object),
 Timestamp('2014-10-17 00:00:00'): array(['2330', '台積電', 125.0, 125.5, 123.5, 123.5, 11471480,
        0.41999998688697815, 166.91690063476562, 96.99], dtype=object),
 Timestamp('2014-10-20 00:00:00'): array(['2330', '台積電', 125.0, 126.0, 124.5, 126.0, 4836985,
        0.4000000059604645, 170.21170043945312, 98.96], dtype=object),
 Timestamp('2014-10-21 00:00:00'): array(['2330', '台積電', 126.0, 126.0, 124.5, 125.0, 3212362,
        0.4000000059604645, 168.81539916992188, 98.17], dtype=object),
 Timestamp('2014-10-22 00:00:00'): array(['2330', '台積電', 127.5, 129.0, 127.5, 129.0, 8448820,
        0.3499999940395355, 173.94119262695312, 101.31], dtype=object),
 Timestamp('2014-10-23 00:00:00'): array(['2330', '台積電', 128.0, 128.5, 127.5, 127.5, 3592328,
        0.36000001430511475, 171.82769775390625, 100.13], dtype=object),
 Timestamp('2014-10-24 00:00:00'): array(['2330', '台積電', 127.0, 127.5, 125.0, 125.5, 5309444,
        0.36000001430511475, 169.0218048095703, 98.56], dtype=object),
 Timestamp('2014-10-27 00:00:00'): array(['2330', '台積電', 126.5, 128.0, 126.5, 128.0, 3198861,
        0.3499999940395355, 172.30560302734375, 100.53], dtype=object),

In [44]:
dict_data[pd.to_datetime('2014-05-06')]

array(['2330', '台積電', 117.0, 119.0, 116.5, 118.0, 3247100,
       0.28999999165534973, 167.23609924316406, 90.64], dtype=object)