In [1]:
import pandas as pd

In [23]:
df = pd.read_excel(r"\\192.168.1.230\新金部\07個人\Ray\50換5\50換5策略部位細節2.xlsx")

In [24]:
df = df[df['日期']!= max(df['日期'])]

In [25]:
ls = list(df['股票代號'])
for i in list(df['股票代號_出場'].dropna()):
    ls.remove(i)

In [28]:
ls.sort()

In [29]:
ls

[1580,
 1608,
 1612,
 1722,
 2228,
 2328,
 2352,
 2353,
 2355,
 2393,
 2409,
 2428,
 2451,
 2480,
 2492,
 2534,
 2903,
 2912,
 3019,
 3025,
 3026,
 3045,
 3046,
 3213,
 3227,
 3338,
 3481,
 3532,
 3563,
 4105,
 4126,
 4915,
 4966,
 5236,
 5356,
 5474,
 6158,
 6197,
 6203,
 6488,
 6672,
 8105,
 8163,
 8249,
 8433]

In [ ]:
2401

In [30]:
204885-139100

65785

In [15]:
i

nan

IndexError: pop index out of range

In [6]:
df

           日期  股票代號     收盤價  買入張數  紀錄1  股票代號_出場  賣出張數  紀錄2 Unnamed: 8
0    20230615  3046   98.30    10  NaN      NaN   NaN  NaN        NaN
1    20230615  2480  124.50     8  NaN      NaN   NaN  NaN        NaN
2    20230615  6203   92.00    11  NaN      NaN   NaN  NaN        NaN
3    20230615  2204   99.10    10  NaN      NaN   NaN  NaN        NaN
4    20230616  3498   47.90    21  NaN      NaN   NaN  NaN        NaN
..        ...   ...     ...   ...  ...      ...   ...  ...        ...
130  20230725  2722   66.30    15  NaN   8105.0  66.0  NaN        NaN
131  20230725  9951   80.00    12  NaN   6672.0  11.0  NaN        NaN
132  20230725  6235  111.50     9  NaN   3019.0  15.0  NaN        NaN
133  20230725  6194   33.05    30  NaN   2451.0  14.0  NaN        NaN
134  20230725  6451  109.00     9  NaN   2492.0  10.0  NaN        NaN

[135 rows x 9 columns]